# Database connection
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.gmzbentmxyhkowjxytda:hmE5OzpsRAByYvor@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.gmzbentmxyhkowjxytda:hmE5OzpsRAByYvor@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Supabase Client Configuration
NEXT_PUBLIC_SUPABASE_URL="https://gmzbentmxyhkowjxytda.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_tR8yrOB5VkUJeWqOXPTGbQ_kC6ptxrm"

# External API for proxying (Excel Export module)
EXTERNAL_API_URL="http://localhost:3000/api/mock/external"

# Schedule Report API
SCHEDULE_REPORT_API_URL="https://global.butterglobe.com/services/dukang-service-online/schedules/review/search/all?key=pykhvksu"