# Database connection
DATABASE_URL="postgresql://user:password@localhost:5432/nexus_workbench?schema=public"

# External API for proxying (Excel Export module)
EXTERNAL_API_URL="https://api.example.com/your-endpoint"
\n# Schedule Report API\nSCHEDULE_REPORT_API_URL="https://global.butterglobe.com/services/dukang-service-online/schedules/review/search/all?key=pykhvksu"
